.footer {
    .footer_main {
        .contacts {

            .country_name {
                color: #EF7C00;
            }
        }
    }

    .footer_bottom {
        color: #919399;
        font-size: 13px;
    }
}